<a href="https://colab.research.google.com/github/rmanzi13/Localizador-Oportunidad_Negocio/blob/main/Localizador_OP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd

In [47]:
df_inmuebles = pd.read_csv('precio_inmueble_españa.csv')

In [48]:
df_inmuebles.head()

,Área Geográfica,Metros,Precio-Metro,Ultima Actualizacion
0,\r\n\t\t\t\t\t\t\tRinconada (Alcalá de Henares...,68 m2,1.250 €/m2,hoy 14:06
1,\r\n\t\t\t\t\t\t\tSanta Eugenia (Madrid)\r\n\t...,86 m2,2.302 €/m2,hoy 14:04
2,\r\n\t\t\t\t\t\t\tEnsanche (Alcalá de Henares)...,275 m2,1.600 €/m2,hoy 13:56
3,\r\n\t\t\t\t\t\t\tEnsanche (Alcalá de Henares)...,259 m2,1.486 €/m2,hoy 13:54
4,\r\n\t\t\t\t\t\t\tPueblo Nuevo (Madrid)\r\n\t\...,85 m2,2.459 €/m2,hoy 13:52

In [49]:
# Buscamos nulos
nulos = df_inmuebles.isnull().sum()
print(nulos)

Área Geográfica         0
Metros                  0
Precio-Metro            0
Ultima Actualizacion    0
dtype: int64

In [50]:
# Cambiamos el nombre de la Columna 'Áres Goegráfica'
df_inmuebles.rename(columns={'Área Geográfica':'Ubicacion'}, inplace = True)

In [51]:
df_inmuebles.head(1)

,Ubicacion,Metros,Precio-Metro,Ultima Actualizacion
0,\r\n\t\t\t\t\t\t\tRinconada (Alcalá de Henares...,68 m2,1.250 €/m2,hoy 14:06

In [52]:
# Eliminamos caracteres de columna 'Ubicacion'
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].str.replace(r'\r|\n|\t', '', regex = True).str.strip()

In [ ]:
df_inmuebles.head(200)

In [53]:
# Elimino algunos indices de precio-metro que me crean conflictos al convertir datos
indices_to_remove = [14, 62, 175, 193]

# Drop rows with specified indices
df_inmuebles.drop(indices_to_remove, inplace=True)

In [54]:
# Reseteo los índices del DataFrame
df_inmuebles = df_inmuebles.reset_index(drop=True)

# Imprimo el DataFrame con los nuevos índices
print(df_inmuebles)

                                             Ubicacion  Metros Precio-Metro  \
0                        Rinconada (Alcalá de Henares)   68 m2   1.250 €/m2
1                               Santa Eugenia (Madrid)   86 m2   2.302 €/m2
2                         Ensanche (Alcalá de Henares)  275 m2   1.600 €/m2
3                         Ensanche (Alcalá de Henares)  259 m2   1.486 €/m2
4                                Pueblo Nuevo (Madrid)   85 m2   2.459 €/m2
..                                                 ...     ...          ...
191                                          Galapagar  506 m2   1.136 €/m2
192                                      Goya (Madrid)   84 m2   6.905 €/m2
193                                    Villa del Prado  229 m2   1.004 €/m2
194                                       Sol (Madrid)  108 m2   3.694 €/m2
195  Las Retamas, Prado Santo Domingo, Ensanche Sur...  103 m2   3.458 €/m2

    Ultima Actualizacion
0              hoy 14:06
1              hoy 14:04
2              hoy 13:56
3              hoy 13:54
4              hoy 13:52
..                   ...
191            hoy 11:53
192            hoy 11:53
193            hoy 11:52
194            hoy 11:52
195            hoy 11:52

[196 rows x 4 columns]

In [55]:
# Convertimos columna 'Metro', 'Precio-Metro' a numérico
df_inmuebles['Metros'] = pd.to_numeric(df_inmuebles['Metros'].str.extract('(\d+(\.\d+)?)')[0], errors='coerce')

In [56]:
# Extraemos números con decimales y comas
df_inmuebles['Precio-Metro'] = pd.to_numeric(df_inmuebles['Precio-Metro'].str.extract('([\d,]+(\.\d+)?)')[0].str.replace(',', '.', regex=True), errors='coerce')

In [57]:
# Imprimo resultados
print(df_inmuebles[['Precio-Metro']])

     Precio-Metro
0           1.250
1           2.302
2           1.600
3           1.486
4           2.459
..            ...
191         1.136
192         6.905
193         1.004
194         3.694
195         3.458

[196 rows x 1 columns]

In [58]:
df_inmuebles.describe()

            Metros  Precio-Metro
count   196.000000    196.000000
mean    255.214286      3.298577
std     250.871742      1.601571
min      30.000000      1.004000
25%      86.000000      2.150500
50%     138.500000      3.022500
75%     326.750000      4.376250
max    1400.000000      9.490000

In [ ]:
# Encuentra los valores máximos y mínimos para la columna 'Metros'
max_metros = df_inmuebles['Metros'].max()
min_metros = df_inmuebles['Metros'].min()

# Encuentra los valores máximos y mínimos para la columna 'Precio-Metro'
max_precio_metro = df_inmuebles['Precio-Metro'].max()
min_precio_metro = df_inmuebles['Precio-Metro'].min()

# Imprime los resultados
print(f'Metros - Máximo: {max_metros}, Mínimo: {min_metros}')
print(f'Precio-Metro - Máximo: {max_precio_metro}, Mínimo: {min_precio_metro}')

In [60]:
df_inmuebles.isnull().sum()

Ubicacion               0
Metros                  0
Precio-Metro            0
Ultima Actualizacion    0
dtype: int64

## Reemplazo de Nombres en variable 'Ubicación'

In [61]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Rinconada (Alcalá de Henares)', 'Alcala de Henares')

In [62]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Santa Eugenia (Madrid)', 'Villa de Vallecas')

In [63]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Ensanche (Alcalá de Henares)', 'Alcala de Henares')

In [64]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Pueblo Nuevo (Madrid)', 'Pueblo Nuevo')

In [65]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Fuente del Berro (Madrid)', 'Salamanca')

In [66]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Rivas-VaciaMadrid, Covibar', 'Rivas-VaciaMadrid')

In [67]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Rivas-VaciaMadrid, Paseo de las Provincias', 'Rivas-VaciaMadrid')

In [68]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Pavones (Madrid)', 'Pavones')

In [69]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Castillejos (Madrid)', 'Tetuán')

In [70]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].str.strip().replace('Pinto, Parque  Europa', 'Torrejón de Ardoz')

In [71]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Nuevo Baztán, Nuevo Baztán','Nuevo Baztán')

In [72]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Nuevo Baztán, Nuevo Baztán','Nuevo Baztán')

In [73]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Centro (Casco Antiguo) (Alcorcón), Valderas-Los Castillos-Parque Lisboa','Alcorcón')

In [74]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Centro (Leganés)','Leganés')

In [75]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Boadilla del Monte, Valdepastores-Pino Centinela-Las Encinas','Boadilla del Monte')

In [76]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Salamanca (Madrid)','Salamanca')

In [77]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Boadilla del Monte, Viñas Viejas','Boadilla del Monte')

In [78]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Boadilla del Monte, Mayorazgo (Boadilla)','Boadilla del Monte')

In [79]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Boadilla del Monte, CASCO URBANO','Boadilla del Monte')

In [80]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('San Sebastián de los Reyes, Casco Antiguo','San Sebastián de los Reyes')

In [81]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Prosperidad (Madrid)','Prosperidad')

In [82]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Salamanca (Madrid)','Salamanca')

In [83]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Ciudad Jardín (Madrid)','Chamartín')

In [84]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Prosperidad (Madrid)','Prosperidad')

In [85]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Ciudad Lineal (Madrid)','Ciudad Lineal')

In [86]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Ciudad Lineal (Madrid)','Ciudad Lineal')

In [87]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Ventas (Madrid)','Ventas')

In [88]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Salamanca (Madrid)','Salamanca')

In [89]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Salamanca (Madrid)','Salamanca')

In [90]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Concepción (Madrid)','Ciudad Lineal')

In [91]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Goya (Madrid)','Goya')

In [92]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Prosperidad (Madrid)','Prosperidad')

In [93]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Prosperidad (Madrid)','Prosperidad')

In [94]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Prosperidad (Madrid)','Prosperidad')

In [95]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Prosperidad (Madrid)','Prosperidad')

In [96]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Salamanca (Madrid)','Salamanca')

In [97]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Salamanca (Madrid)','Salamanca')

In [98]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Prosperidad (Madrid)','Prosperidad')

In [99]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Salamanca (Madrid)','Salamanca')

In [100]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Quintana (Madrid)','Ciudad Lineal')

In [101]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Hortaleza (Madrid)','Hortaleza')

In [102]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Piovera (Madrid)','Hortaleza')

In [103]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Piovera (Madrid)','Hortaleza')

In [104]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Canillas (Madrid)','Hortaleza')

In [105]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Lucero (Madrid)','Latina')

In [106]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Fuentelarreina (Madrid)','Fuencarral')

In [107]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Retiro (Madrid)','Retiro')

In [108]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Niño Jesús (Madrid)','Retiro')

In [109]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Pacífico (Madrid)','Retiro')

In [110]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('San Diego (Madrid)','Puente de Vallecas')

In [111]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Adelfas (Madrid)','Retiro')

In [112]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Ibiza (Madrid)','Retiro')

In [113]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Estrella (Madrid)','Retiro')

In [114]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Puente de Vallecas (Madrid)','Puente de Vallecas')

In [115]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Fontarrón (Madrid)','Moratalaz')

In [116]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Centro-Arroyo-La Fuente (Fuenlabrada)','Fuenlabrada')

In [117]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Torrejón de Ardoz, Zona Noroeste','Torrejón de Ardoz')

In [118]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Loranca- Nuevo Versalles-Parque Miraflores (Fenlabrada)','Fuenlabrada')

In [119]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Aranjuez, Zona Moreras','Aranjuez')

In [120]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Chorrillo (Alcalá de Henares)','Alcalá de Henares')

In [121]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Universidad (Madrid)','Centro de Madrid')

In [122]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Santo Domingo','Centro de Madrid')

In [123]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Abrantes (Madrid)','Carabanchel')

In [124]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Navalcarnero, EL PINAR','El Pinar, Navalcarnero')

In [125]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Coimbra-Guadarrama (Móstoles), Zona tranquila a 20 minutos de Madrid, frente al Xanadú','Móstoles')

In [126]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Universidad (Madrid), Malasaña','Centro de Madrid')

In [127]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Palomeras Bajas (Madrid)','Puente de Vallecas')

In [128]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('La Alhóndiga (Getafe)','Getafe')

In [129]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Coimbra-Guadarrama (Móstoles)','Móstoles')

In [130]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('El Bercial (Getafe), Los Molinos-Los Olivos','Getafe')

In [131]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Juan de la Cierva (Getafe)','Getafe')

In [132]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Majadahonda, Casco Antiguo','Majadahonda')

In [133]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Guindalera (Madrid)','Salamanca')

In [134]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Centro (Alcalá de Henares), REALIA PARQUE DEL ENSANCHE FASE 2','Alcalá de Henares')

In [135]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Aldea del Fresno, Urb. La Cañada','Aldea del Fresno')

In [136]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Aldea del Fresno, Casco urbano','Aldea del Fresno')

In [137]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Las Rozas de Madrid','Las Rozas')

In [138]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Centro (Getafe)','Getafe')

In [139]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Salvador (Madrid)','San Blás-Canillejas')

In [140]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Villa del Prado, URBANIZACION ENCINAR DEL ALBERCHE','Villa del Pardo')

In [141]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Las Retamas, Prado Santo Domingo, Ensanche Sur (Alcorcón)','Alcorcón')

In [142]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Sol (Madrid)','Centro de Madrid')

In [143]:
df_inmuebles['Ubicacion'] = df_inmuebles['Ubicacion'].replace('Las Retamas, Prado Santo Domingo, Ensanche Sur (Alcorcón)','Alcorcón')

In [144]:
# Exporto csv con los cambios
df_inmuebles.to_csv('df_viviendas.csv', index=False)

In [145]:
# Leemos csv con el procesamiento realizado
data_inmuebles = pd.read_csv('df_viviendas.csv')

In [151]:
pd.set_option('display.max_colwidth', None)

In [152]:
data_inmuebles.head(200)

,Ubicacion,Metros,Precio-Metro,Ultima Actualizacion,descripcion_inmueble
0,alcala de henares,68,1.250,hoy 14:06,alcala de henares 68 1.250
1,villa de vallecas,86,2.302,hoy 14:04,villa de vallecas 86 2.302
2,alcala de henares,275,1.600,hoy 13:56,alcala de henares 275 1.600
3,alcala de henares,259,1.486,hoy 13:54,alcala de henares 259 1.486
4,pueblo nuevo,85,2.459,hoy 13:52,pueblo nuevo 85 2.459
...,...,...,...,...,...
191,galapagar,506,1.136,hoy 11:53,galapagar 506 1.136
192,goya,84,6.905,hoy 11:53,goya 84 6.905
193,villa del prado,229,1.004,hoy 11:52,villa del prado 229 1.004
194,centro de madrid,108,3.694,hoy 11:52,centro de madrid 108 3.694
195,alcorcón,103,3.458,hoy 11:52,alcorcón 103 3.458

In [153]:
print(data_inmuebles[['Ubicacion','Metros','Precio-Metro']])

             Ubicacion  Metros  Precio-Metro
0    alcala de henares      68         1.250
1    villa de vallecas      86         2.302
2    alcala de henares     275         1.600
3    alcala de henares     259         1.486
4         pueblo nuevo      85         2.459
..                 ...     ...           ...
191          galapagar     506         1.136
192               goya      84         6.905
193    villa del prado     229         1.004
194   centro de madrid     108         3.694
195           alcorcón     103         3.458

[196 rows x 3 columns]

## Modelo

In [209]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

### Esta función es para hacerla más reutilizable

In [207]:
"""
def localizador_oportunidades(data_inmuebles):
    try:
        # Eliminamos espacios en blanco al principio y al final de los valores en la columna 'Ubicacion'
        data_inmuebles['Ubicacion'] = data_inmuebles['Ubicacion'].str.strip()

        # Normalizamos a minúsculas
        data_inmuebles['Ubicacion'] = data_inmuebles['Ubicacion'].str.lower()

        # Construimos la descripción del inmueble
        data_inmuebles['descripcion_inmueble'] = data_inmuebles['Ubicacion'] + ' ' + data_inmuebles['Metros'].astype(str) + ' ' + data_inmuebles['Precio-Metro'].map('{:.3f}'.format)

        # Utilizamos CountVectorizer para convertir la descripción del inmueble en una matriz de términos
        vectorizer = CountVectorizer()
        matriz_tfidf = vectorizer.fit_transform(data_inmuebles['descripcion_inmueble'])

        # Calculamos la similitud del coseno entre las descripciones de inmuebles
        similitud_cos = cosine_similarity(matriz_tfidf, matriz_tfidf)

        return similitud_cos

    except Exception as e:
        raise RuntimeError(f"Error en localizador_oportunidades: {e}")

# Ejemplo de uso
try:
    matriz_similitud = localizador_oportunidades(data_inmuebles)
    print(matriz_similitud)
except RuntimeError as e:
    print(f"Error en el ejemplo de uso: {e}")
"""

[[1.  0.2 0.6 ... 0.  0.2 0. ]
 [0.2 1.  0.2 ... 0.2 0.2 0. ]
 [0.6 0.2 1.  ... 0.  0.2 0. ]
 ...
 [0.  0.2 0.  ... 1.  0.  0. ]
 [0.2 0.2 0.2 ... 0.  1.  0. ]
 [0.  0.  0.  ... 0.  0.  1. ]]

In [210]:

# Creamos función que procesa los datos y devuelve matriz de similitud
def localizador_oportunidades(data_inmuebles):
    try:
        # Eliminamos espacios en blanco al principio y al final de los valores en la columna 'Ubicacion'


        data_inmuebles['Ubicacion'] = data_inmuebles['Ubicacion'].str.strip()

        data_inmuebles['Ubicacion'] = data_inmuebles['Ubicacion'].str.lower()  # Normalizamos a minúsculas

        data_inmuebles['descripcion_inmueble'] = data_inmuebles['Ubicacion'].str.lower() + ' ' + data_inmuebles['Metros'].astype(str) + ' ' + data_inmuebles['Precio-Metro'].map('{:.3f}'.format)

        # Utilizamos CountVectorizer para convertir la descripción del inmueble en una matriz de términos
        vectorizer = CountVectorizer()
        matriz_tfidf = vectorizer.fit_transform(data_inmuebles['descripcion_inmueble'])

        # Calculamos la similitud del coseno entre las descripciones de inmuebles
        similitud_cos = cosine_similarity(matriz_tfidf, matriz_tfidf)

        return similitud_cos

    except Exception as e:
        print(f"Error en localizador_oportunidades: {e}")

        return pd.DataFrame()


# Ejemplo de uso
try:
    matriz_similitud = localizador_oportunidades(data_inmuebles)
    print(matriz_similitud)
except Exception as e:
    print(f"Error en el ejemplo de uso: {e}")

[[1.  0.2 0.6 ... 0.  0.2 0. ]
 [0.2 1.  0.2 ... 0.2 0.2 0. ]
 [0.6 0.2 1.  ... 0.  0.2 0. ]
 ...
 [0.  0.2 0.  ... 1.  0.  0. ]
 [0.2 0.2 0.2 ... 0.  1.  0. ]
 [0.  0.  0.  ... 0.  0.  1. ]]

## Función sin similitudes antes de filtar

In [208]:
def recomendar_inmueble(ubicacion, metros, precio_metro, data_inmuebles, umbral_similitud=0.3, num_recomendaciones=5):
    try:
        # Encontramos el índice de la ubicación en el DataFrame
        indice_ubicacion = data_inmuebles[data_inmuebles['Ubicacion'].str.lower() == ubicacion.lower()].index

        # Verificar si la ubicación existe
        if indice_ubicacion.empty:
            print(f"Error: Ubicación '{ubicacion}' no encontrada en el DataFrame.")
            return pd.DataFrame()  # Devolvemos un DataFrame vacío en caso de error

        # Obtenemos la fila correspondiente en el DataFrame
        similitudes_ubicacion = matriz_similitud[indice_ubicacion[0]]

        # Filtramos las similitudes por umbral
        similitudes_filtradas = [(i, sim) for i, sim in enumerate(similitudes_ubicacion) if sim > umbral_similitud]

        # Si no hay similitudes suficientes, devolvemos un DataFrame vacío
        if not similitudes_filtradas:
            print("Error: No hay recomendaciones disponibles para los criterios especificados.")
            return pd.DataFrame()

        # Ordenamos las similitudes y tomamos los índices
        indices_ordenados = [i for i, _ in sorted(similitudes_filtradas, key=lambda x: x[1], reverse=True)]

        # Filtramos las recomendaciones por ubicación
        recomendaciones = data_inmuebles.loc[indices_ordenados]

        # Filtramos las recomendaciones por rango de metros
        recomendaciones = recomendaciones[
            (recomendaciones['Metros'] >= int(metros.split('-')[0])) &
            (recomendaciones['Metros'] <= int(metros.split('-')[1]))
        ]

        # Filtramos las recomendaciones por rango de precio por metro cuadrado
        recomendaciones = recomendaciones[
            (recomendaciones['Precio-Metro'] >= float(precio_metro.split('-')[0])) &
            (recomendaciones['Precio-Metro'] <= float(precio_metro.split('-')[1]))
        ]

        # Verificamos si hay recomendaciones después de aplicar los filtros
        if recomendaciones.empty:
            print(f"No hay recomendaciones para los criterios especificados en '{ubicacion}'.")
            return pd.DataFrame()

        # Limitamos el número de recomendaciones
        recomendaciones = recomendaciones.head(num_recomendaciones)

        return recomendaciones

    except Exception as e:
        print(f"Error en recomendar_inmueble: {e}")
        return pd.DataFrame()

# Ejemplo de uso con rangos
ubicacion_interes = 'alcala de henares'
metros_interes = '40-250'  # Rango de metros
precio_metro_interes = '1.000-2.000'  # Rango de precio por metro cuadrado

recomendaciones = recomendar_inmueble(ubicacion_interes, metros_interes, precio_metro_interes, data_inmuebles)
print(recomendaciones)

             Ubicacion  Metros  Precio-Metro Ultima Actualizacion  \
0    alcala de henares      68         1.250            hoy 14:06
100  alcalá de henares     136         1.323            hoy 12:02

            descripcion_inmueble
0     alcala de henares 68 1.250
100  alcalá de henares 136 1.323

## Función con similitudes impresas antes de filtrar

In [213]:
def recomendar_inmueble(ubicacion, metros, precio_metro, data_inmuebles, matriz_similitud, umbral_similitud=0.1, num_recomendaciones=5):
    try:
        # Encontramos el índice de la ubicación en el DataFrame
        indice_ubicacion = data_inmuebles[data_inmuebles['Ubicacion'] == ubicacion].index[0]
    except IndexError:
        print(f"Error: Ubicación '{ubicacion}' no encontrada en el DataFrame.")
        return pd.DataFrame()  # Devolvemos un DataFrame vacío en caso de error

    # Obtenemos la fila correspondiente en la matriz de similitud
    similitudes_ubicacion = matriz_similitud[indice_ubicacion]

    # Filtramos las similitudes por umbral
    similitudes_filtradas = [(i, sim) for i, sim in enumerate(similitudes_ubicacion) if sim > umbral_similitud]

    # Imprimir información para rastreo
    print("Similitudes antes de filtrar:", similitudes_ubicacion)
    print("Similitudes después de filtrar por umbral:", similitudes_filtradas)

    # Si no hay similitudes suficientes, devolvemos un DataFrame vacío
    if not similitudes_filtradas:
      print("Error: No hay recomendaciones disponibles para los criterios especificados.")
      return pd.DataFrame()

    # Ordenamos las similitudes y tomamos los índices
    indices_ordenados = [i for i, _ in sorted(similitudes_filtradas, key=lambda x: x[1], reverse=True)]

    # Imprimir información para rastreo

    # Filtramos las recomendaciones por ubicación
    recomendaciones = data_inmuebles.loc[indices_ordenados]

    # Filtramos las recomendaciones por rango de metros
    recomendaciones = recomendaciones[
        (recomendaciones['Metros'] >= int(metros.split('-')[0])) &
        (recomendaciones['Metros'] <= int(metros.split('-')[1]))
    ]

    # Filtramos las recomendaciones por rango de precio por metro cuadrado
    recomendaciones = recomendaciones[
        (recomendaciones['Precio-Metro'] >= float(precio_metro.split('-')[0])) &
        (recomendaciones['Precio-Metro'] <= float(precio_metro.split('-')[1]))
    ]

    # Verificamos si hay recomendaciones después de aplicar los filtros
    if recomendaciones.empty:
        print(f"No hay recomendaciones para los criterios especificados en '{ubicacion}'.")
        return pd.DataFrame()

    # Limitamos el número de recomendaciones
    recomendaciones = recomendaciones.head(num_recomendaciones)

    return recomendaciones

# Ejemplo de uso con rangos
ubicacion_interes = 'alcala de henares'
metros_interes = '40-250'  # Rango de metros
precio_metro_interes = '1.000-2.000'  # Rango de precio por metro cuadrado

recomendaciones = recomendar_inmueble(ubicacion_interes, metros_interes, precio_metro_interes, data_inmuebles, matriz_similitud)
print(recomendaciones)

Similitudes antes de filtrar: [1.         0.2        0.6        0.6        0.         0.
 0.         0.         0.         0.         0.2        0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.16903085
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.2        0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.2        0.
 0.2        0.2        0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.2        0.2        0.         0.         0.4        0.2
 0.2        0.         0.2        0.2        0.         0.16903085
 0.         0.2        0.         0.         0.2        0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.16903085
 0.         0.16903085 0.         0.         0.         0.
 0.         0.         0.2        0.         0.         0.16903085
 0.         0.16903085 0.         0.16903085 0.         0.16903085
 0.         0.         0.16903085 0.         0.         0.
 0.         0.2        0.         0.         0.2        0.2
 0.         0.         0.2        0.         0.         0.2
 0.         0.         0.         0.         0.         0.
 0.         0.         0.4        0.         0.2        0.
 0.2        0.         0.         0.2        0.         0.
 0.2        0.         0.         0.         0.16903085 0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.2        0.        ]
Similitudes después de filtrar por umbral: [(0, 0.9999999999999999), (1, 0.19999999999999998), (2, 0.6), (3, 0.6), (10, 0.19999999999999998), (23, 0.1690308509457033), (70, 0.19999999999999998), (82, 0.19999999999999998), (84, 0.19999999999999998), (85, 0.19999999999999998), (96, 0.19999999999999998), (97, 0.19999999999999998), (100, 0.39999999999999997), (101, 0.19999999999999998), (102, 0.19999999999999998), (104, 0.19999999999999998), (105, 0.19999999999999998), (107, 0.1690308509457033), (109, 0.19999999999999998), (112, 0.19999999999999998), (125, 0.1690308509457033), (127, 0.1690308509457033), (134, 0.19999999999999998), (137, 0.1690308509457033), (139, 0.1690308509457033), (141, 0.1690308509457033), (143, 0.1690308509457033), (146, 0.1690308509457033), (151, 0.19999999999999998), (154, 0.19999999999999998), (155, 0.19999999999999998), (158, 0.19999999999999998), (161, 0.19999999999999998), (170, 0.39999999999999997), (172, 0.19999999999999998), (174, 0.19999999999999998), (177, 0.19999999999999998), (180, 0.19999999999999998), (184, 0.1690308509457033), (194, 0.19999999999999998)]
                 Ubicacion  Metros  Precio-Metro Ultima Actualizacion  \
0        alcala de henares      68         1.250            hoy 14:06
100      alcalá de henares     136         1.323            hoy 12:02
70      puente de vallecas     153         1.503            hoy 12:28
96   camarma de esteruelas     175         1.514            hoy 12:18
97       torrejón de ardoz     149         1.779            hoy 12:17

                descripcion_inmueble
0         alcala de henares 68 1.250
100      alcalá de henares 136 1.323
70      puente de vallecas 153 1.503
96   camarma de esteruelas 175 1.514
97       torrejón de ardoz 149 1.779

In [212]:
ubicacion_interes = 'alcala de henares'
ubicacion_encontrada = data_inmuebles[data_inmuebles['Ubicacion'].str.lower() == ubicacion_interes.lower()]
print(ubicacion_encontrada)

# ubicacion_encontrada = data_inmuebles[data_inmuebles['Ubicacion'] == ubicacion_interes]
print(ubicacion_encontrada)

           Ubicacion  Metros  Precio-Metro Ultima Actualizacion  \
0  alcala de henares      68         1.250            hoy 14:06
2  alcala de henares     275         1.600            hoy 13:56
3  alcala de henares     259         1.486            hoy 13:54

          descripcion_inmueble
0   alcala de henares 68 1.250
2  alcala de henares 275 1.600
3  alcala de henares 259 1.486
           Ubicacion  Metros  Precio-Metro Ultima Actualizacion  \
0  alcala de henares      68         1.250            hoy 14:06
2  alcala de henares     275         1.600            hoy 13:56
3  alcala de henares     259         1.486            hoy 13:54

          descripcion_inmueble
0   alcala de henares 68 1.250
2  alcala de henares 275 1.600
3  alcala de henares 259 1.486

In [155]:
print(data_inmuebles['Ubicacion'].unique())

['alcala de henares' 'villa de vallecas' 'pueblo nuevo' 'salamanca'
 'rivas-vaciamadrid' 'pavones' 'tetuán' 'torrejón de ardoz'
 'sevilla la nueva' 'nuevo baztán' 'alcorcón' 'leganés' 'cerceda'
 'boadilla del monte' 'san sebastián de los reyes' 'prosperidad'
 'chamartín' 'ciudad lineal' 'ventas' 'goya' 'valdeolmos-alalpardo'
 'hortaleza' 'latina' 'fuencarral' 'retiro' 'puente de vallecas'
 'arganda del rey' 'moratalaz' 'fuenlabrada' 'ciudalcampo'
 'camarma de esteruelas'
 'loranca- nuevo versalles-parque miraflores (fuenlabrada)' 'aranjuez'
 'alcalá de henares' 'centro de madrid' 'pozuelo de alarcón'
 'fuente el saz de jarama' 'san agustín del guadalix' 'fuente del fresno'
 'algete' 'carabanchel' 'el pinar, navalcarnero' 'valdetorres de jarama'
 'móstoles' 'getafe' 'colmenar viejo' 'majadahonda' 'villa del prado'
 'aldea del fresno' 'san isidro (getafe)' 'las rozas'
 'san blás-canillejas' 'villa del pardo' 'galapagar']